.header {
    display: block;
    background-color: black;
    color: white;
    font-style: normal;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    font-size: 50px;
}

body {
    display: block;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    font-style: normal;
    font-size: 25px;
    margin: 50px 65px 50px 65px;
}
